<div class="wrapper">
  <app-nav-menu></app-nav-menu>
  <!-- Home Section -->
  <section id="home">
    <!-- video background -->
    <video loop muted autoplay id="video-background">
      <source src="../assets/img/video-background.mp4" type="video/mp4" >
    </video>
    <div class="video-overlay"></div>

    <!-- main title -->
    <h1 class="main-title">Your Title Here</h1>

    <!-- Social Icons -->
    <div class="social-icons">
      <a href="" target="_blank" rel="noopener" title="github"><i class="fa-brands fa-square-github"></i></a>
      <a href="" target="_blank" rel="noopener" title="codepen"><i class="fa-brands fa-codepen"></i></a>
      <a href="" target="_blank" rel="noopener" title="linkedin"><i class="fa-brands fa-linkedin"></i></a>
      <a href="" target="_blank" rel="noopener" title="youtube"><i class="fa-brands fa-youtube"></i></a>
      <a href="" target="_blank" rel="noopener" title="facebook"><i class="fa-brands fa-square-facebook"></i></a>
    </div>
  </section>
  <!-- About Section -->
  <div class="background">
    <section id="about">
      <div class="card">
        <img src="../assets/img/ninoos.jfif" alt="Picture of Me" class="about-img">
        <div class="card-body">
          <h1 class="card-title">About</h1>
          <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem, exercitationem eveniet modi ipsum voluptatum perferendis laboriosam, fugiat non illum ullam adipisci quod hic veritatis maxime error quis unde dolore dignissimos?</p>
          <a href="#">
            <div class="card-button">View Resume</div>
          </a>
        </div>
      </div>
    </section>
  </div>
  <!-- Projects Section -->
  <section id="projects">

  </section>
  <!-- Contact Section -->
  <section id="contact">

  </section>
  <!-- Footer Section -->
  <section id="footer">

  </section>
</div>
